#ahorcado{
    height: 212px;
    width: 204px;
    background: url('hangman-game_pm-1024x212.png');
}

#ganador{
    display: none;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}